<!DOCTYPE html>
<html>
  <head>
    <title>Asteroids</title>

    <style>
      html, body, canvas {
        padding: 0px;
        margin: 0px;
      }
      .scores {
       /* position: relative;*/
        bottom: 500px;
        width: 460px;
        height: 40px;
        margin: 8px;
        overflow: scroll;   
      }
      .lev {
        position: absolute;
        bottom: 100px;
        left: 500px;
      }
      #points {
        margin: 8px;
      }
      html {overflow-y: scroll;}
      #canvas {
        border: 1px solid blue;
        margin: 20px;
        background: #C0C0C0;
      }

    </style>
  </head>

  <body>

    <canvas width="500" height="500" id="canvas"></canvas>
    <script>
      var canvas = document.getElementById('canvas');
      var c = canvas.getContext('2d');
    </script>

    <div id="points">Points</div>
    <div id="scores" class="scores">Scores: </div>
    <div id="level" class="lev">Level: </div>

  </body>
</html>
