<!DOCTYPE html>
<html>
  <head>
    <title>Asteroids</title>

    <style>
      html, body, canvas {
        padding: 0px;
        margin: 0px;
      }
      .scores {
        position: relative;
        bottom: 500px;
      }
      .lev {
        position: absolute;
        top: 50px;
        left: 500px;
      }
    </style>
  </head>

  <body>

    <canvas width="500" height="500" id="canvas"></canvas>
    <script>
      var canvas = document.getElementById('canvas');
      var c = canvas.getContext('2d');
    </script>

    <div id="points">Points</div>
    <div id="scores" class="scores">Scores: </div>
    <div id="level" class="lev">Level: </div>

  </body>
</html>
