<!DOCTYPE html>
<html>
  <head>
    <title>Asteroids</title>


  </head>

  <body>
    <canvas width="500" height="500" id="canvas"></canvas>
    <script>
      var canvas = document.getElementById('canvas');
      var c = canvas.getContext('2d');
    </script>

    <div id="points">Points</div>
    <div id="scores" class="scores">Scores: </div>
    <div id="level" class="lev">Level: </div>

    <div class="save">
    <label>
      Your Name
    <input type="text" id="name">
    </label>
    <button onclick="saveScores()">save scores</button><br><br>
    <div id="message"></div>
    </div>

  <script>
  function printMessage(){
    document.getElementById("message").innerHTML = "Scores Saved";
    setTimeout(function() {
       document.getElementById("message").innerHTML = ""
    }, 2000)
  }

  function saveScores() {
    var name = document.getElementById("name").value;
    
    var array = window.scoress;
    var scores = []
    for (var i = 0; i < array.length-1; i++){
      scores.push(Number(array[i]));
    }
    bigenough = function(numb){
      return numb > 200000
    }
    scores = scores.filter(bigenough)
    for (var i = 0; i < scores.length; i++){
      saveScore(name, scores[i]);
    }
    printMessage()
    document.getElementById("scores").innerHTML = "Scores: "
    window.scoress = [];
  }

  function saveScore(person,number) {
    $.ajax({
      type: "POST",
      url: "/scores",
      data: {
        points: number,
        name: person
      }, 
      success: function () { }
    })
  }
  
  </script>

  <div class="highscores">
  <h3>High Scores </h3>
  <ul>
  <% scores = @scores.sort{ |a, b| b.points <=> a.points } %>
  <% rank = 1 %>
  <% while rank < 31 && rank-1 < scores.length %>
    <% score = scores[rank-1] %>
    <li><%= "#{rank}) #{score.name}: #{score.points}" %></li>
    <% rank += 1 %>
  <% end %>
  </ul>
  </div>

  </body>
</html>
