<!DOCTYPE html>
<html>
  <head>
    <title>Asteroids</title>

    <script>
  function printMessage(){
    document.getElementById("message").innerHTML = "Scores Saved";
    setTimeout(function() {
       document.getElementById("message").innerHTML = ""
    }, 2000)
  }
  function printFailedMessage(){
    document.getElementById("message").innerHTML = "Scores Could not be saved. Try again";
    setTimeout(function() {
       document.getElementById("message").innerHTML = ""
    }, 2000)
  }
  function bigEnough(number){
    return number > 100000
  }

  function saveScores() {

     Asteroids.name = document.getElementById("name").value;
    

    var array = window.scoress;
    var scores = []
    for (var i = 0; i < array.length; i++){
      scores.push(Number(array[i]));
      console.log(window.scoress[0])
    }
     scores = scores.filter(bigEnough); //only saves large scores because otherwise database would get too full
    Asteroids.succede = true;
    for (var i = 0; i < scores.length; i++){
      $.ajax({
        type: "POST",
        url: "/scores",
        data: {
          points: scores[i],
          name: Asteroids.name
        }, 
        success: function () {
          Asteroids.succede = Asteroids.succede || true
        },
        error: function () {
          Asteroids.succede = Asteroids.succede && false
        },
        async: false
      })
    }
    console.log(Asteroids.succede);
    if (Asteroids.succede){
      printMessage();
    } else {
      printFailedMessage()
    } 
  }
  </script>


  </head>

  <body>

    <div id="instructions">
    <h1 id="title">Asteroids </h1>
    <h1 id="paused" class="hidden">Game Paused </h1>
    <h1 id="youlose" class="hidden"> Game Over </h1>
    <h3>Get the green gun & press spacebar to shoot<br> Press v to pause<br>
         <button onclick="game_view.paused = false;    
          $('#instructions').addClass('hidden');
          $('#save').addClass('hidden');
          $('#highscores').addClass('hidden');
          $('#scores').addClass('hidden');">Start</button>
    </h3>
    </div>
    <canvas id="canvas"></canvas>
    <script>
      var canvas = document.getElementById('canvas');
      var c = canvas.getContext('2d');
    </script>
    <div id="points">Points:</div>

    <div id="level" class="lev">Level: </div>
    <div class="save" id="save">
      <label>
        Your Name
      <input type="text" id="name">
      </label>
      <button onclick="saveScores()">save your scores</button><br><br>
      <div id="message"></div>
    </div>

    

  <div class="highscores" id="highscores">
  <h2 class="highscore-hedding">High Scores</h2>
  <ul>
  <% scores = @scores.sort{ |a, b| b.points <=> a.points } %>
  <% rank = 1 %>
  <% while rank < 11 && rank-1 < scores.length %>
    <% score = scores[rank-1] %>
    <li><%= "#{rank}) #{score.name}: #{score.points}" %></li>
    <% rank += 1 %>
  <% end %>
  </ul>
  </div>
  <div id="scores" class="scores"><h2 class="yourscoresheading">Your Scores </h2>
    <ul id="scorelist">

    </ul>
  </div>

  </body>
</html>
