      html, body, canvas {
        padding: 0px;
        margin: 0px;
      }
      li {
        list-style: none;
      }
      .scores {
       /* position: relative;*/
        bottom: 500px;
        width: 460px;
        height: 17px;
        margin: 8px;
        overflow: scroll;   
      }
      .lev {
        position: absolute;
        bottom: 100px;
        left: 500px;
      }
      #points {
        margin: 8px;
      }
      html {overflow-y: scroll;}
      #canvas {
        border: 1px solid blue;
        margin: 20px;
        background: #C0C0C0;
      }
      .save {
        margin: 10px;
      }
      .highscores {
        position: absolute;
        right: 580px;
        top: 10px;
      }
