      html, body, canvas {
        padding: 0px;
        margin: 0px;
        font-family: sans-serif;
        color: yellow;
        background-image: url("http://upload.wikimedia.org/wikipedia/commons/a/a2/Polycyclic_Aromatic_Hydrocarbons_In_Space.jpg");
      }
      li {
        list-style: none;
      }
      .scores { /*your scores*/
    
        position: fixed;
        left: 50%;
        text-align: left;
        margin-left: -200px;
        padding-top: 10px;
        top: 400px;
        z-index: 1; 
        font-family: sans-serif;
                
      }

      .yourscoresheading {
        text-decoration: underline;
        z-index: 1; 
        font-family: sans-serif;
        
      }

      .lev {
        position: absolute;
        left: 80%;
        bottom: 30px;
        text-align: left;
        z-index: 1;
      }
      #points {
        position: absolute;
        left: 80%;
        bottom: 50px;
        text-align: left;
        z-index: 1;
      }
      
      #canvas {
        position: fixed;


      }

       
      .save {
        position: fixed;
        left: 40%;
        bottom: 10px;
        z-index: 1; 
      }
      .highscores {
        font-family: sans-serif;
        position: fixed;
        left: 50%;
        margin-left: -200px;
        top: 150px;
        text-align: left;
        z-index: 1;   
       
      }
      .highscore-hedding {
        text-decoration: underline;
        z-index: 1; 
      }
      .start-button {
        height: 50px;
        width: 100px;
        position: relative;
        left: 20%;
      }

      h1 {
        position: fixed;
        top: 0px;
        text-align: center;
        z-index: 1;
        left: 50%;
        margin-left: -60px;
        font-family: sans-serif;
      }
 
      h3 {
        text-align: center;
        position: fixed;
        top: 50px;
        left: 50%;
        margin-left: -170px;
        z-index: 1;
        font-family: sans-serif;
      }
      .hidden {
        display: none;
      }
